<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="anime_content">
        <h1>All Posts</h1>
        <div class="row">
            <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
        <% if(blogs.length > 0){ %>
            <% blogs.forEach(blog => { %>
                <div class="col-sm-auto">
                        <div class="card d-flex position-relative flex-column">
                            <a href="/anime/<%= blog._id %> ">
                                <div class='imgContainer'> <img src="./<%= blog.image %>"> </div>
                                <div class="content">
                                    <h4><%= blog.title %></h4>
                                    <p><%= blog.snippet %></p>
                                </div>
                            </a>
                        </div>
                </div>
            
            <%})%>
        <%} else {%>
            <p>Nothing to display</p>
        <%}%>
            </div>
        </div>
    </div>

    <%- include('./partials/foot.ejs') %>
</body>

<style>
    body{
        background: url('/img/space-planet-3d-monochrome-wallpaper.jpg');
        background-size: cover;
        color: azure;
    }

    .anime_content{
        width: 80%;
        margin: auto;
        margin-top: 5%;
        background-color: rgba(51, 50, 50, 0.533);
        border-radius: 25px;
        margin-bottom: 5%;
    }

    .anime_content h1{
        margin-bottom: 3%;
    }

    .imgContainer img{
        width: 200px;
        height: 250px;
        border-radius: 15px;
    }    

    a{
        text-decoration: none;
    }

    .container .card {
        width: 300px;
        height: max-content;
        padding: 20px 15px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out
    }

    .container .card:hover {
        height: 350px;
        margin: auto;
    }

    .container .card .imgContainer {
        position: relative;
        width: max-content;
        height: auto;
        top: -50px;
        z-index: 1;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        margin: auto;
    }

    .container .card .imgContainer img {
        max-width: 100%;
        border-radius: 4px;
        text-align: center;
    }

    .container .card .content {
        position: relative;
        margin-top: -120px;
        padding: 10px 15px;
        text-align: center;
        color: #111;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease-in-out
    }

    .container .card:hover .content {
        visibility: visible;
        opacity: 1;
        margin-top: -40px;
        transition-delay: 0.3s
    }

    @media (max-width: 330px) {
        .container .card .imgContainer {
            left: -2px
        }
    }
    
    .anime_content h1{
        text-align: center;
    }

    .col-sm-auto{
        margin: auto;
        margin-bottom: 50px;
    }
</style>
</html>